{% extends "base_layout.html" %} 
{% block title %} 
Home 
{% endblock %} 

 <nav>
      {% block nav %}
      {% if user.is_authenticated %}
        <a class="nav_text" href="/"> Home </a> |
        <a class="nav_text" href="users/friends"> Friends </a> |
        <a class="nav_text" href="/movies"> Movies </a> |
        <a class="nav_text" href="users/logout/"> Logout </a>
      {% else %}
        <a class="nav_text" href="/"> Home </a> |
        <a class="nav_text" href="users/register"> Register </a> |
        <a class="nav_text" href="users/login/"> Login </a>
      {% endif %}

      {% endblock %}
 </nav>

{% block content %}
<br>
<h1>Home Page!</h1>
<br>
<p>
  {% if user.is_authenticated %}
  Hi {{user.username}}! These are some movies you might like to try next:
  {% else %}
  Hello to the home page! To go to the Register section, go
  <a href="users/register">here</a>.
  {%endif %}
</p>
{% endblock %}
